/* Apply images on the side */
/* |image|background|image| */
/* Button and Search bar are next to each other */
/* Content is centered in background */
/* Add Font styles to text */
/* Media Queiry so Page looks good on different screens. 
    Don't add side images. Maybe image on bottom or header?*/

header {
      background-image: url(https://i.imgur.com/PlISmTX.png);
      width: auto;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      font-style: italic;
      padding-top: auto;
      color: whitesmoke;
    }

body {
  background-color: bisque;
  text-align: center;
  margin: auto;
}

form {
  background-color: #4a35a8; 
  width: auto;
      height: 50px;
      display: flex;
      align-items: flex-start;
      font-size: 35px;
      font-style: italic;
      padding-top: auto;
  
}
h2{
  /* background-color: #4a35a8;  */
      width: auto;
      display: flex;
      align-items: center;
      font-style: italic;
      padding-top: auto;
      border-style: solid;
}
section {
  text-align: center;
  border-style: solid;
  position: relative;
  top: 50px;

}


footer {
  width: auto;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      font-style: italic;
      padding-top: auto;
}
#search-name {
  position: relative;
  left: -1px;
  top: 16px;
}
#random {
  position: relative;
  left: -1px;
  top: 16px;
  
}

#footer-content { 
  background-color: #5D3FD3;
  color:cornsilk;
  position: fixed;
  bottom: 0;
  width: auto;
  min-width: 1000px;
}


@media screen and (max-width: 600px) {

  
  
  form {
    min-width: 357.5px;
    max-width: auto;
  }

  /* img {
    display: none;
  }
  header {
    position: relative;
    background-image: url(https://i.imgur.com/PlISmTX.png);
      min-width: 300px;
      font-size: 15px;
      
  }
h2 {
display: flex;
align-items: flex-start;
justify-content: flex-start;

}
  body {
    background-color: chocolate;
    text-align: center;
    width: 153px;
    margin: auto
    }
  
  section {
    max-width: 150px;
  }
  footer{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: fixed;
    /* right: 450px; */
    /* width: 150px; */
    /* text-align: center; */
  /* }
  #random {
    
   
  /* } */
}

